<!DOCTYPE html>
<html>
<head>
    <title>latihan</title>
    <style>
        h1,p {
            text-align: center;
        }
    </style>
</head>
<body>
        <h1>SELAMAT DATANG DI WARUNG RM ASELA</h1>
        <h2><P>Makan Senang Jiwa Tenang</P></h2>
        <p>Asela adalah warung makan pertama yang berkonsep makan dipinggir pantai laut with a view and kinda instagramale place i think.</p>
        <p>yang terletak di desa terpencil desa sejati dusun gruggak kec camplong kab sampang </p>
        <p>masakannya enak,sambelnya juara,harganya juga masih reasonable,dan sekarang masih banyak pojok-pojok buat selfinya</p>
        <p>mungkin kalau ada tipe-tipe orang yang suka eksis di medsos pasti suka ke sini.apalagi ketika sore hari menjelang sunset,viewnya bagus sekali.</p>

        <P><a href="/menu">Menu</a></P>

</body>
</html>